
@{
    ViewData["Title"] = "Cadastrar Contato";
}

<div>
    <h1 class="display-6">@ViewData["Title"]</h1>
</div>

<form>
    <div class="form-group">
        <label>Nome</label>
        <input class="form-control form-control-sm">
    </div>
    <div class="form-group">
        <label>Sobre Nome</label>
        <input class="form-control form-control-sm">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control form-control-sm">
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input class="form-control form-control-sm col-4">
    </div>
    <br />
    
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>